

<!-- teams.hbs -->
<h1>Coaches</h1>
<p>View or Add a Coach</p>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>

{{!-- Create a table --}}
<table id="coach-table">

    {{!-- Header section --}}
    <thead>

        {{!-- For just the first row, we print each key of the row object as a header cell so we
        know what each column means when the page renders --}}
        <tr>
            
            <th>Coach ID</th>
			<th>Coach Name</th>
			<th>Team</th>
            <th>Head Coach?</th>
        </tr>
    </thead>

    {{!-- Body section --}}
    <tbody>

        {{!-- For each row, print the id, fname, lname, homeworld and age, in order --}}
        {{#each data}}
        <tr data-value={{this.trophy_id}}>
			<td>{{this.coach_id}}</td>
            <td>{{this.coach_name}}</td>
            <td>{{this.team_name}}</td>
            <td>{{this.is_head_coach}}</td>
        </tr>
        {{/each}}
    </tbody>
</table>

{{!-- Form to add a record to the table  --}}
<h2>Add a Coach</h2>
<p>To add a new coach, please enter the information below and click 'Submit'</p>
<form id="add-coach-form-ajax">
    <label for="input-name">Name: </label>
    <input type="text" name="input-name" id="input-name">

	<label for="input-team_id">Team: </label>
    <select name="input-team_id" id="mySelect">
        <option value="test">Select a Team</option>
        {{#each teams}}
        <option value="{{this.team_id}}">{{this.team_name}}</option>
        {{/each}}
    </select>
        
    <label for="input-is_head_coach">Head Coach?: </label>
    <input type="number" name="input-is_head_coach" id="input-is_head_coach">

    <input type="Submit">
</form>

<script src="./js/add_coach.js"></script>

