{{!--
Citation for the following file:
Date: 7/26/2022
Adapted from:
Source URL: https://github.com/osu-cs340-ecampus/nodejs-starter-app/blob/main/Step%208%20-%20Dynamically%20Updating%20Data/views/index.hbs
--}}

<!-- matches.hbs -->
<h1>Matches</h1>
<p>View or Add Matches</p>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>

{{!-- Create a table --}}
<table id="match-table">

    {{!-- Header section --}}
    <thead>

        {{!-- For the first row, hard code column headers for proper text formatting --}}
        <tr>
            
            <th>ID</th>
			<th>Year</th>
			<th>Home Team</th>
            <th>Home Score</th>
            <th>Away Team</th>
			<th>Away Score</th>
        </tr>
    </thead>

    {{!-- Body section --}}
    <tbody>

        {{!-- For each row, print the match_id, match_year, home_team_name, home_team_score, away_team_name, and away_team_score, in order --}}
        {{#each data}}
        <tr data-value={{this.match_id}}>
			<td>{{this.match_id}}</td>
            <td>{{this.match_year}}</td>
            <td>{{this.home_team_name}}</td>
            <td>{{this.home_team_score}}</td>
            <td>{{this.away_team_name}}</td>
			<td>{{this.away_team_score}}</td>
        </tr>
        {{/each}}
    </tbody>
</table>

{{!-- Form to add a Match record to the table  --}}
<h2>Add a Match Result</h2>
<p>To add a new match, please enter the information below and click 'Submit'</p>
<form id="add-match-form-ajax">
    
    <label for="input-year">Match Year: </label>
    <input type="number" name="input-year" id="input-year">

	<label for="input-home_team_id">Home Team: </label>
    <select name="input-home_team_id" id="mySelectHome">
        <option value="test">Select a Team</option>
        {{#each teams}}
        <option value="{{this.team_id}}">{{this.team_name}}</option>
        {{/each}}
    </select>

	<label for="input-away_team_id">Away Team: </label>
    <select name="input-away_team_id" id="mySelectAway">
        <option value="test">Select a Team</option>
        {{#each teams}}
        <option value="{{this.team_id}}">{{this.team_name}}</option>
        {{/each}}
    </select>

	<label for="input-home_score">Home Score: </label>
    <input type="number" name="input-home_score" id="input-home_score">

	<label for="input-away_score">Away Score: </label>
    <input type="number" name="input-away_score" id="input-away_score">

    <input class="btn" type="Submit">
</form>

<script src="./js/add_match.js"></script>



