{{!--
Citation for the following file:
Date: 7/26/2022
Adapted from:
Source URL: https://github.com/osu-cs340-ecampus/nodejs-starter-app/blob/main/Step%208%20-%20Dynamically%20Updating%20Data/views/index.hbs
--}}

<!-- owners.hbs -->
<h1>Owners</h1>
<p>View, Add, Edit, or Delete Owners</p>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>

{{!-- Create a table --}}
<table id="owner-table">

    {{!-- Header section --}}
    <thead>

        {{!-- For the first row, print each key of the row object as a header cell --}}
        <tr>
            {{#each data.[0]}}
            <th>
                {{@key}}
            </th>
            {{/each}}
            <th class="noBorder"></th>
        </tr>
    </thead>

    {{!-- Body section --}}
    <tbody>

        {{!-- For each row, print the ID, Name, Nationality, and Age, in order --}}
        {{#each data}}
        <tr data-value={{this.ID}}>
            <td>{{this.ID}}</td>
            <td>{{this.Name}}</td>
            <td>{{this.Nationality}}</td>
            <td>{{this.Age}}</td>
            <td class="noBorder"><button class="btn" onclick="deleteOwner({{this.ID}})">Delete</button></td>
        </tr>
        {{/each}}
    </tbody>
</table>

<script src="./js/delete_owner.js"></script>

{{!-- Form to add an Owner record to the table  --}}
<h2>Add an Owner</h2>
<p>To add a new owner, please enter their information below and click 'Submit'</p>
<form id="add-owner-form-ajax">
    <label for="input-name">Name: </label>
    <input type="text" name="input-name" id="input-name">
    
    <label for="input-nationality">Nationality: </label>
    <input type="text" name="input-nationality" id="input-nationality">

    <label for="input-age">Age: </label>
    <input type="number" name="input-age" id="input-age">

    <input class="btn" type="Submit">
</form>

<script src="./js/add_owner.js"></script>

{{!-- Form to update an existing owner --}}
<h2>Update an Owner</h2>
<p>To update a specific owner select their name from the drop-down menu on the left and fill in the new age value.</p>
<form id="update-owner-form-ajax">

    <label for="input-name">Owner name: </label>
    <select name="input-name" id="mySelect">
        <option value="test">Select an Owner</option>
        {{#each data}}
        <option value="{{this.ID}}">{{this.Name}}</option>
        {{/each}}
    </select>

    <label for="input-age">Age: </label>
    <input type="number" name="input-age" id="input-age-update">

    <input class="btn" type="submit">

</form>

<script src="./js/update_owner.js"></script>

