

<!-- players.hbs -->
<h1>Players</h1>
<p>View or Add a Player</p>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>

{{!-- Create a table --}}
<table id="player-table">

    {{!-- Header section --}}
    <thead>

        {{!-- For just the first row, we print each key of the row object as a header cell so we
        know what each column means when the page renders --}}
        <tr>
            
            <th>Player ID</th>
			<th>Name</th>
			<th>Age</th>
            <th>Position</th>
            <th>Salary</th>
            <th>Jersey Number</th>
            <th>Team</th>
        </tr>
    </thead>

    {{!-- Body section --}}
    <tbody>

        {{!-- For each row, print the id, fname, lname, homeworld and age, in order --}}
        {{#each data}}
        <tr data-value={{this.player_id}}>
			<td>{{this.player_id}}</td>
            <td>{{this.player_name}}</td>
            <td>{{this.player_age}}</td>
            <td>{{this.position}}</td>
            <td>{{this.salary}}</td>
            <td>{{this.jersey_number}}</td>
            <td>{{this.team_name}}</td>
        </tr>
        {{/each}}
    </tbody>
</table>

{{!-- Form to add a record to the table  --}}
<h2>Add a Player</h2>
<p>To add a new player, please enter the information below and click 'Submit'</p>
<form id="add-player-form-ajax">
    <label for="input-name">Name: </label>
    <input type="text" name="input-name" id="input-name">

    <label for="input-age">Age: </label>
    <input type="number" name="input-age" id="input-age">

    <label for="input-position">Position: </label>
    <input type="text" name="input-position" id="input-position">

    <label for="input-salary">Salary: </label>
    <input type="number" name="input-salary" id="input-salary">

    <label for="input-jersey_number">Jersey Number: </label>
    <input type="number" name="input-jersey_number" id="input-jersey_number">

	<label for="input-team_id">Team: </label>
    <select name="input-team_id" id="mySelect">
        <option value="test">Select a Team</option>
        {{#each teams}}
        <option value="{{this.team_id}}">{{this.team_name}}</option>
        {{/each}}
    </select>

    <input type="Submit">
</form>

<script src="./js/add_player.js"></script>

