{{!--
Citation for the following file:
Date: 7/26/2022
Adapted from:
Source URL: https://github.com/osu-cs340-ecampus/nodejs-starter-app/blob/main/Step%208%20-%20Dynamically%20Updating%20Data/views/index.hbs
--}}

<!-- trophies.hbs -->
<h1>Trophies</h1>
<p>View or Add Trophy</p>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>

{{!-- Create a table --}}
<table id="trophy-table">

    {{!-- Header section --}}
    <thead>

        {{!-- For the first row, print each key of the row object as a header cell --}}
        <tr>
            {{#each data.[0]}}
            <th>
                {{@key}}
            </th>
            {{/each}}
        </tr>
    </thead>

    {{!-- Body section --}}
    <tbody>

        {{!-- For each row, print the ID, Trophy, Year, and Victor, in order --}}
        {{#each data}}
        <tr data-value={{this.ID}}>
			<td>{{this.ID}}</td>
            <td>{{this.Trophy}}</td>
            <td>{{this.Year}}</td>
            <td>{{this.Victor}}</td>
        </tr>
        {{/each}}
    </tbody>
</table>

{{!-- Form to add a record to the table  --}}
<h2>Add a Trophy</h2>
<p>To add a new trophy, please enter the information below and click 'Submit'</p>
<form id="add-trophy-form-ajax">
    <label for="input-name">Name: </label>
    <input type="text" name="input-name" id="input-name">
    
    <label for="input-year">Year: </label>
    <input type="number" name="input-year" id="input-year">

	<label for="input-team_id">Winner: </label>
    <select name="input-team_id" id="mySelect">
        <option value="test">Select a Team</option>
        {{#each teams}}
        <option value="{{this.team_id}}">{{this.team_name}}</option>
        {{/each}}
    </select>

    <input class="btn" type="Submit">
</form>

<script src="./js/add_trophy.js"></script>

